html, body {

}

$textColorLight: #EEEEEE;

.text-color-light {
    color: $textColorLight;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.btn {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
}

.btn-waiting {
    background-image: url("../images/btn_spin.gif");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
}

@import 'create_room';
@import 'chat_page';
